.Login {
  display: flex;
  flex-direction: column;
  width: 100vw;

  height: -webkit-fill-available;
  overflow-y: hidden;

  justify-content: center;
  align-items: center;
}

.Login .google {
  width: 200px;
  object-fit: cover;
  aspect-ratio: 1/1;

  background-color: var(--tertiary-color);
  border-radius: 50%;
}
