.Navbar {
  display: flex;
  background-color: var(--background-color);
  height: 75px;
  position: fixed;
  z-index: 99;
  top: 0;

  justify-content: space-between;
  padding: 0 10px;
  width: 100vw;
  
}

.gotcha-header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0 5px;
  align-items: center;
  gap: 10px;

  /* generate a box shadow */
  /* box-shadow: 0 10px 50px 0 rgba(255, 255, 255, 0.1); */
  border: none;
  outline: none
}

.header-icon {
  width: 5rem;
  aspect-ratio: 1/1;
}

.menu-icon {
  width: 5rem;
  padding: 15px 10px;
  aspect-ratio: 1/1;
}